<nav th:fragment="nav(user)">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Doubly</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:unless="${user}" href="/login">Log in</a></li>
            <li><a th:unless="${user}" href="/signup">Sign Up</a></li>
            <li><a th:if="${user}" href="/profile">Profile</a></li>
            <li><a th:if="${user}" href="/aboutus">About Us</a></li>
            <li><a th:if="${user}" href="/logout">Log out</a></li>

        </ul>
    </div>
</nav>