<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <title>Add Steps</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: nav(user=${user})"></nav>
    <h1 class="page-title" id="new-step">Add Step</h1>
    <form th:action="@{/recipes/{id}/steps/new/{isInitialCreation}(id=${id},isInitialCreation=${isInitialCreation})}" method="POST" id="postform" class="add-recipe-form">
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>Step Number</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input  type="number" name="stepNumber"/></td>
                    <td><input  type="text" name="description"/></td>
                </tr>
                </tbody>
            </table>
            <input type="submit">
        </fieldset>

    </form>
    <div class="center-align">
        <h2>Steps</h2>
        <ul th:each="step : ${steps}">
            <li><span th:text="${step.stepNumber}"></span> <span th:text="${step.description}"></span>
                <button>
                    <a th:href="@{/recipes/{id}/steps/{id2}/update/true(id=${id},id2=${step.getId()})}">Edit</a>
                </button>
            </li>
        </ul>
    </div>
    <div class="center-align">
        <button><a th:href="@{/recipes/{id}(id=${recipe.getId()})}">Save & Review</a></button>
    </div>
</body>
</html>