<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title>Create Ingredient</title>
    </head>

    <body>
        <h1>Create Ingredient</h1>

        <label for="postform">New Ingredient</label>
        <form th:action="@{/recipes/{id}/ingredients/new(id=${id})}" method="POST" id="postform">
            <fieldset>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input  type="text" name="name"/></td>
                        <td><input  type="text" name="quantity"/></td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit">
            </fieldset>

        </form>

    </body>

</html>