<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>
<body>
    <h1>Create Recipe</h1>

    <label for="postform">New Recipe</label>
    <form action="/recipes/create" method="POST" id="postform">

        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>Recipe Title</th>
                    <th>Prep Time</th>
                    <th>Cook Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input  type="text" name="title"/></td>
                    <td><input  type="text" name="prep-time"/></td>
                    <td><input  type="text" name="cook-time"/></td>
                    <td><input type="submit"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>

    </form>
</body>
</html>