<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <title>Create Recipe</title>
</head>
<body>

    <nav th:replace="fragments/navbar :: nav(user=${user})"></nav>
    <h1 class="page-title">Create Recipe</h1>

    <form action="/recipes/create" method="POST" id="postform" class="add-recipe-form">

        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>Recipe Title</th>
                    <th>Prep Time</th>
                    <th>Cook Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input  type="text" name="title"/></td>
                    <td><input  type="text" name="prepTime"/></td>
                    <td><input  type="text" name="cookTime"/></td>
                    <td><input type="submit"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>

    </form>
</body>
</html>