<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <title>My Profile</title>
</head>

    <body>
        <nav th:replace="fragments/navbar :: nav(user=${user})"></nav>
        <h1>My Profile</h1>

        <ul>
            <li>Username: <span th:text="${user.username}"></span></li>
            <li>First: <span th:text="${user.firstName}"></span></li>
            <li>Last: <span th:text="${user.lastName}"></span></li>
        </ul>

        <h2>My Recipes</h2>

        <ul>
            <li th:each="recipe : ${recipes}">
                <span th:text="${recipe.title}"></span>
            </li>
        </ul>

    </body>

</html>