<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <title>My Profile</title>
</head>

    <body>
        <nav th:replace="fragments/navbar :: nav(user=${user})"></nav>
        <h1>My Profile</h1>

        <ul>
            <li>Username: <span th:text="${user.username}"></span></li>
            <li>First: <span th:text="${user.firstName}"></span></li>
            <li>Last: <span th:text="${user.lastName}"></span></li>
        </ul>

        <h2>My Recipes</h2>

            <div class="row">
                <div th:each="recipe : ${recipes}" class="col s12 m2">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${recipe.title}"></span>
                            <p>This dish has a prep time of <span th:text="${recipe.prepTime}"></span> minutes and a cook time of <span th:text="${recipe.cookTime}"></span> minutes.</p>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/recipes/{id}(id=${recipe.id})}">More Info</span></a>
                        </div>
                    </div>
                </div>
            </div>
        <button><a th:href="@{/recipes/create}">Add A Recipe</a></button>

    </body>

</html>