<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" />
        <title>All Recipes</title>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: nav"></nav>
        <h1 class="page-title">All Recipes</h1>

        <ul>
            <li th:each="recipe : ${recipes}">
                <a th:href="@{/recipes/{id}/ingredients(id=${recipe.getId()})}" ><span th:text="${recipe.title}"></span></a>
                <form th:action="@{/recipes/{id}/addToProfile(id=${recipe.getId()})}" method="post">
                    <input type="submit" />
                </form>
            </li>
        </ul>
    </body>
</html>