<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" />
        <title><span th:text="${recipe.title}"></span> Ingredients</title>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: nav"></nav>
        <h1 class="page-title"><span th:text="${recipe.title}"></span> Ingredients</h1>

        <ul>
            <li th:each="ingredient : ${ingredients}">
                <span th:text="${ingredient.name}"></span>,
                <span th:text="${ingredient.quantity}"></span>
            </li>
        </ul>
    </body>
</html>