<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" />
        <title>Log in</title>
    </head>

    <body>
        <nav th:replace="fragments/navbar :: nav(user=${user})"></nav>
        <h1 class="page-title">Sign up</h1>

        <form action="/signup" method="POST" id="sign-up">

            <label for="firstName">First Name: </label>
            <input name="firstName" id="firstName"/>

            <label for="lastName">Last Name: </label>
            <input name="lastName" id="lastName"/>

            <label for="username">Username</label>
            <input name="username" id="username" />

            <label for="password">Password</label>
            <input name="password" id="password" type="password" />

            <input type="submit" />

        </form>

    </body>
</html>